{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Edge versions",
            "last 2 Safari versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-import-meta",
    [
      "babel-plugin-bundled-import-meta",
      {
        "importStyle": "baseURI"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".css"]
      }
    ]
  ]
}
