{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["babel-plugin-inline-import", {
      "extensions": [
        ".css"
      ]
    }]
  ],
  "presets": [
    [
      "@babel/typescript",
      {
        "useBuiltIns": "entry",
        "corejs": "2"
      }
    ]
  ]
}
