{
  "extends": ["@open-wc/eslint-config", "prettier", "eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", "css"]
      }
    }
  }
}
