{
  "extends": [
    "@open-wc/eslint-config",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "eslint:recommended"
  ],
    "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js", ".jsx", ".ts", ".tsx", "css"
        ]
      }
    }
  }
}
