@import '../../../node_modules/bulma/sass/utilities/all';

@import '../../../node_modules/bulma/sass/elements/button';

.btn {
  height: 24px;
}

:host .btn ::slotted(button) {
  position: absolute;
  visibility: hidden;
}

.click-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -3px -1px;
  padding: 0;
}

:host(:focus) {
  outline: none;
}

:host(:focus) .btn {
  border-color: lightblue;
  box-shadow: 0 0 8px lightblue, 0 0 0 1px lightblue;
}
