@import '../../../node_modules/bulma/sass/utilities/_all.sass';

$button-color: var(--button-color, $grey-darker);
$button-background-color: var(--button-background-color, $white);

$button-border-color: var(--button-border-color, $grey-lighter);
$button-border-width: var(--button-border-width, $control-border-width);

$button-padding-vertical: var(--button-padding-vertical, calc(0.375em - #{$button-border-width}));
$button-padding-horizontal: var(--button-padding-horizontal, 0.75em);

$button-hover-color: var(--button-hover-color, $link-hover);
$button-hover-border-color: var(--button-hover-border-color, $link-hover-border);

$button-focus-color: var(--button-focus-color, $link-focus);
$button-focus-border-color: var(--button-focus-border-color, $link-focus-border);
$button-focus-box-shadow-size: var(--button-focus-box-shadow-size, 0 0 0 0.125em);

$button-active-color: var(--button-active-color, $link-active);
$button-active-border-color: var(--button-active-border-color, $link-active-border);

$button-text-color: var(--button-text-color, $text);
// TODO: add this and override the darken functionality
// $button-text-hover-background-color: var(--button-text-hover-background-color, $background);
$button-text-hover-color: var(--button-text-hover-color, $text-strong);

$button-disabled-background-color: var(--button-disabled-background-color, $white);
$button-disabled-border-color: var(--button-disabled-border-color, $grey-lighter);
$button-disabled-shadow: var(--button-disabled-shadow, none);
$button-disabled-opacity: var(--button-disabled-opacity, 0.5);

$button-static-color: var(--button-static-color, $grey);
$button-static-background-color: var(--button-static-background-color, $white-ter);
$button-static-border-color: var(--button-static-border-color, $grey-lighter);


@import '../../../node_modules/bulma/sass/elements/button.sass';

.btn {
  box-sizing: border-box;
  height: 36px;
}

:host .btn ::slotted(button) {
  position: absolute;
  visibility: hidden;
}


:host([display=is-fullwidth]) {
  display: flex;
  width: 100%;
}

.click-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -3px -1px;
  padding: 0;
}

:host(:focus) {
  outline: none;
}

:host(:focus) .btn {
  border-color: $blue;
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

.button {
  &.is-active {
  }
  &.is-small {
    height: 27px;
  }
  &.is-medium {
    height: 45px;
  }
  &.is-large {
    height: 54px;
  }
  // TODO: add theming with color-mod css function wit PostCss ccsnext
  // @each $name, $pair in $colors{
  //   $color: nth($pair, 1);  
  //   $color-invert: nth($pair, 2);

  //   &.is-#{$name}{
  //     background-color: var(--#{$name}, $color);
  //     border-color: transparent;
  //     color: $color-invert;
  //   }
  // }
}
