$control-radius: var(--control-radius, $radius);
$control-radius-small: var(--control-radius-small, $radius-small);

$control-border-width: var(--control-border-width, 1px);

$control-height: var(--control-height, 2.5em);
$control-line-height: var(--control-line-height, 1.5);

$control-padding-vertical: var(--control-padding-vertical, calc(0.5em - #{$control-border-width}));
$control-padding-horizontal: var(
  --control-padding-horizontal,
  calc(0.75em - #{$control-border-width})
);

@import '../../node_modules/bulma/sass/utilities/controls.sass';
